{% extends 'sub_layout.html' %}
{% block pagetitle %}
  NEW CREDITS
{% endblock %}
{% block subcontent %}
  <div class="page-main-cont">
    <div class="input-label-cont">
      <label class="input-label">Delivery</label>
      <div class="input-select-cont jsSelectInputCont">
        <input class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
    <div class="input-label-cont">
      <label class="input-label">Delivery</label>
      <div class="input-select-cont jsSelectInputCont">
        <input class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
    <div class="input-label-cont">
      <label class="input-label">Delivery</label>
      <div class="input-select-cont jsSelectInputCont">
        <input class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
    <div class="input-label-cont">
      <label class="input-label">Delivery</label>
      <div class="input-select-cont jsSelectInputCont">
        <input class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
    <div class="input-label-cont">
      <label class="input-label">Delivery</label>
      <div class="input-select-cont jsSelectInputCont">
        <input class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
  </div>
{% endblock %}
