{% extends 'sub_layout.html' %}
{% block pagetitle %}
  NEW CREDITS
{% endblock %}
{% block subcontent %}
  <div class="page-main-cont">
    <div class="input-label-cont">
      <label class="input-label">DATE</label>
      <div class="input-select-cont jsSelectInputCont">
        <input type="date" class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
    <div class="input-label-cont">
      <label for="creditor-name" class="input-label">NAME OF CREDITOR</label>
      <div class="input-select-cont jsSelectInputCont">
        <input id="creditor-name" class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
        <ul class="input-search-ul display-none"></ul>
      </div>
    </div>
    <div class="input-label-cont">
      <label for="creditor-amount" class="input-label">AMOUNT</label>
      <input id="creditor-amount" class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
    </div>
    <div class="input-label-cont">
      <label for="creditor-terms" class="input-label">TERMS OF PAYMENTS</label>
      <input id="creditor-terms" class="select-input-medium-bold-enabled jsSelectInput jsGeneralInfoDeliveryInput" placeholder="click select" autocomplete="off" required />
    </div>
  </div>
{% endblock %}
