# Core Django stack
Django==5.2.3
gunicorn
psycopg2-binary
dj-database-url
python-dotenv
whitenoise==6.9.0

# API support & middleware
djangorestframework
django-cors-headers

# Image & file support
Pillow

# Data processing
pandas==2.3.0
numpy==2.3.0
prettytable==3.16.0

# HTTP & networking
requests==2.32.4
urllib3==2.4.0
idna==3.10
charset-normalizer==3.4.2
certifi==2025.4.26

# Time & date handling
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

# Console & formatting utilities
wcwidth==0.2.13
six==1.17.0
sqlparse==0.5.3
asgiref==3.8.1
colorama==0.4.6
